# Assignment
Take the Restaurant dataset given in google classroom


# Question 1
Prepare the data for modelling, This will include
- Converting to lowercase
- Removing stopwords
- Lemmatization
- Stemming
- Removing numbers 

### Brownie points if you can do it all in 1 function

# Question 2
Once the data has been cleaned :-
- Divide the data intro train and test parts
- Convert the training and text text into vectors 
- Convert the labels intro numbers(encoding)

Overall, you should end up with 4 varaibles 
- Xtrain
- Xtest
- Ytrain
- Ytest

You can name these whatever you want, upto you. But i am looking for these 4 variables ready to go for modelling

------------

![](https://media.tenor.com/d8fG2J6pkAUAAAAC/friends-chandler.gif)

# A hint
The file is stores as a ```tsv```.

You can load a ```tsv``` file with ```pd.read_csv``` while passing the seperator or ```sep``` argument as ```\t```.

This tells pandas that the file is seperated by tab's instead of comma's

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Restaurant_Reviews - Restaurant_Reviews.tsv',sep='\t')

In [4]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

# Question 1

In [6]:
#Importing the necessary library.

from nltk.stem.snowball import SnowballStemmer
sn_stemmer=SnowballStemmer("english")
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
import pandas as pd
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [44]:
def datacleaning(x):
#---------------------------------------------------------------------------------------------------------------------------    
    #Removing stop words.
    y=nltk.word_tokenize(x)
    temp=[]
    for i in y:
      if i in stopwords.words("english"): 
         pass
      else:
         temp.append(i)
    my_new_string=' '.join(temp)
#---------------------------------------------------------------------------------------------------------------------------        
    #Lemmatizing the data.
    c=nltk.word_tokenize(my_new_string)
    my_list=[]
    for i in c:
        my_list.append(lemmatizer.lemmatize(i))
        my_new_string_second=' '.join(my_list)
#---------------------------------------------------------------------------------------------------------------------------            
    #Stemming the data.
        d=nltk.word_tokenize(my_new_string_second)
    my_list_stemmer=[]
    for i in d:
        my_list_stemmer.append(sn_stemmer.stem(i))
        final=' '.join(my_list_stemmer)
#---------------------------------------------------------------------------------------------------------------------------  
    #Removing the numbers from the data.
        temp=[]
    for i in final:
      if i.isdigit(): 
         pass
      else:
        temp.append(i)
    hi=''.join(temp)
    return (hi.lower()) #Converting the data to lower case

In [45]:
#Testing the function.

datacleaning('I goes to 2nd and i am Rasesh Choudhary')

# Converted to lower case.
#stop words removes
# lemmatized and stemmed
# Number removed
# The function works

'i go nd rasesh choudhari'

In [59]:
df['Cleaned_review']=df['Review'].apply(datacleaning)

In [64]:
df

,Review,Liked,Cleaned_review
0,Wow... Loved this place.,1,wow ... love place .
1,Crust is not good.,0,crust good .
2,Not tasty and the texture was just nasty.,0,not tasti textur nasti .
3,Stopped by during the late May bank holiday of...,1,stop late may bank holiday rick steve recommen...
4,The selection on the menu was great and so wer...,1,the select menu great price .
...,...,...,...
995,I think food should have flavor and texture an...,0,i think food flavor textur lack .
996,Appetite instantly gone.,0,appetit instant gone .
997,Overall I was not impressed and would not go b...,0,overal i impress would go back .
998,"The whole experience was underwhelming, and I ...",0,"the whole experi underwhelm , i think ll go ni..."
999,"Then, as if I hadn't wasted enough of my life ...",0,"then , i n't wast enough life , pour salt woun..."

# Question 2

In [65]:
from sklearn.model_selection import train_test_split

In [67]:
df_y=df['Liked']
df_x=df['Cleaned_review']

In [68]:
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.33,random_state=42)

In [69]:
train_test_split(df_x,df_y,test_size=0.2)

[590                            great place fo take eat .
 395    to summar ... food incred , nay , transcend .....
 414                  i take littl bad servic food suck .
 666                                   the staff attent .
 987              it lack flavor , seem undercook , dri .
                              ...
 934         the place fair clean food simpli n't worth .
 910    i serious believ owner mani unexperienc employ...
 386                   i come back everi time i 'm vega .
 754    main thing i n't enjoy crowd older crowd , aro...
 429    these nicest restaur owner i ve ever come acro...
 Name: Cleaned_review, Length: 800, dtype: object,
 407             food realli good i got full petti fast .
 112    this realli fantast thai restaur definit worth...
 183                                    it probabl dirt .
 804                          they golden-crispi delici .
 698                          needless say , never back .
                              ...
 965                 it 's not hard make decent hamburg .
 999    then , i n't wast enough life , pour salt woun...
 860    this place pretti good , nice littl vibe resta...
 219                           - food rich order accord .
 798                                       mediocr food .
 Name: Cleaned_review, Length: 200, dtype: object,
 590    1
 395    1
 414    0
 666    1
 987    0
       ..
 934    0
 910    0
 386    1
 754    0
 429    1
 Name: Liked, Length: 800, dtype: int64,
 407    1
 112    1
 183    0
 804    1
 698    0
       ..
 965    0
 999    0
 860    1
 219    1
 798    0
 Name: Liked, Length: 200, dtype: int64]

In [103]:
from sklearn.feature_extraction.text import CountVectorizer
#initializing the vector.
hi_vectorize = CountVectorizer()
hi_vectorize.fit(x_train)

CountVectorizer()

In [104]:
hi_vectorize.get_feature_names_out()[0:100]

array(['absolut', 'absolutley', 'accid', 'accomod', 'accord', 'account',
       'acknowledg', 'actual', 'ad', 'afford', 'after', 'afternoon',
       'again', 'ago', 'al', 'ala', 'all', 'allergi', 'almost', 'alon',
       'also', 'although', 'alway', 'amaz', 'ambianc', 'ambienc',
       'amount', 'ampl', 'an', 'and', 'andddd', 'ani', 'anoth', 'anymor',
       'anyon', 'anyth', 'anytim', 'anyway', 'apart', 'apolog', 'app',
       'appal', 'appar', 'appeal', 'appet', 'appetit', 'appl', 'are',
       'area', 'arepa', 'aria', 'around', 'array', 'arriv', 'as', 'ask',
       'assur', 'at', 'ate', 'atmospher', 'atmosphere', 'attach',
       'attack', 'attent', 'attitud', 'auju', 'authent', 'averag',
       'avocado', 'avoid', 'aw', 'away', 'awesom', 'awkward', 'babi',
       'back', 'bacon', 'bad', 'bagel', 'bakeri', 'bamboo', 'bar', 'bare',
       'bargain', 'bartend', 'basebal', 'basic', 'bathroom', 'batter',
       'bay', 'bbq', 'bean', 'beat', 'beauti', 'becom', 'beef', 'been',
       'beer', 'begin', 'behind'], dtype=object)

In [105]:
x_train_hi = hi_vectorize.transform(x_train)
x_train_vector=x_train_hi.toarray()
x_train_vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [106]:
hi_vectorize.fit(x_test)

CountVectorizer()

In [107]:
hi_vectorize.get_feature_names_out()[0:100]

array(['accommod', 'ach', 'acknowledg', 'across', 'actual', 'after',
       'ahead', 'airlin', 'airport', 'albondiga', 'all', 'almond', 'also',
       'although', 'alway', 'amaz', 'ambienc', 'amount', 'an', 'and',
       'angri', 'annoy', 'anoth', 'anticip', 'anytim', 'approv', 'area',
       'around', 'arriv', 'articl', 'as', 'ask', 'at', 'atmospher',
       'atroci', 'attent', 'authent', 'averag', 'avoid', 'aw', 'awesom',
       'ayc', 'az', 'baba', 'bachi', 'back', 'bacon', 'bad', 'baklava',
       'ball', 'banana', 'bank', 'bar', 'bare', 'bartend', 'base',
       'batch', 'bathroom', 'batter', 'bay', 'be', 'beateous', 'beauti',
       'beef', 'beer', 'befor', 'behind', 'bellagio', 'best', 'better',
       'beyond', 'big', 'bigger', 'bing', 'bit', 'bite', 'black', 'bland',
       'blandest', 'block', 'bloddi', 'bloodiest', 'blow', 'boba', 'boil',
       'both', 'box', 'boyfriend', 'bread', 'breakfast', 'brisket',
       'brought', 'brushfir', 'buck', 'buffet', 'bug', 'burger', 'burn',
       'busi', 'but'], dtype=object)

In [108]:
x_test_hi = hi_vectorize.transform(x_test)
x_test_vector=x_test_hi.toarray()
x_test_vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [121]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [122]:
le.fit(y_train)

LabelEncoder()

In [123]:
le.classes_

array([0, 1], dtype=int64)

In [127]:
y_train=le.transform(y_train)

In [128]:
y_train

array([1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1], dtype=int64)

In [129]:
le.fit(y_test)

LabelEncoder()

In [130]:
le.classes_

array([0, 1], dtype=int64)

In [131]:
y_test=le.transform(y_test)

In [136]:
y_test

array([1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
      dtype=int64)